*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.2s linear;
}
body{
  background: #ffffff;
}

.logo{
  height: 100%;
  display: flex;
  align-items: center;
}

.cover {
  width: 100%;
  height: 600px;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, hsla(203, 99%, 64%, 0.521), hsla(203, 100%, 69%, 0.436)), url(../img/habitacion_2.jpg);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, hsla(217, 92%, 52%, 0.467), hsla(227, 100%, 15%, 0.652)), url(../img/habitacion_2.jpg);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-size: cover;
  background-attachment: fixed;
  position: relative;
}

.menu-scroll{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  transition: 0.7s;
  padding: 30px 20px;
  z-index: 10;
}
.menu-scroll.abajo{
  background: #fff;
  padding: 15px 20px;
  border-bottom: 0.1px solid rgba(0, 0, 0, 0.175);
}
.menu-scroll.logo{
  position: relative;
  font-weight: bold;
  font-size: 2em;
  letter-spacing: 2px;
  transition: 1.5s;
  text-decoration: none;
}

nav{
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-scroll ul{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-scroll ul li{
  list-style: none;
}

.menu-scroll ul li a{
  position: relative;
  margin: 0 15px;
  text-decoration: none;
  color: rgb(0, 0, 0);
  letter-spacing: 2px;
  font-weight: 600;
  transition: 0.7s;
}

.menu #btn_menu{
  display: none;
}

article .textos-header{
  display: flex;
  height: 430px;
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;

}

.textos-header h1{
  font-size: 50px;
  color: white;
}

.wave{
  position: absolute;
  bottom: 0;
  width: 100%;
}

.profile-dropdown {
  position: relative;
  width: fit-content;
}

.profile-dropdown-btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 1rem;
  font-size: 0.9rem;
  font-weight: 500;
  width: 150px;
  border-radius: 10px;
  color: black;
  cursor: pointer;
  border: 1px solid rgb(0, 128, 255);
  transition: box-shadow 0.2s ease-in, background-color 0.2s ease-in,
    border 0.3s;
}

.profile-dropdown-btn:hover {
  background-color: rgba(0, 0, 0, 0.204);
}

.profile-img {
  position: relative;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background: url(../img/usuario.png);
  background-size: cover;
}

.profile-img i {
  position: absolute;
  right: 0;
  bottom: 0.3rem;
  font-size: 0.5rem;
  color: rgb(0, 255, 0);
}

.profile-dropdown-btn span {
  margin: 0 0.5rem;
  margin-right: 0;
}

.profile-dropdown-list {
  position: absolute;
  top: 65px;
  width: 220px;
  justify-content: center;
  background-color: #000000ee;
  backdrop-filter: blur(100px);
  border-radius: 5px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s;
}

.profile-dropdown-list hr {
  border: 0.5px solid #03A9F4;
}

.profile-dropdown-list.active {
  max-height: 500px;
}

.profile-dropdown-list-item {
  padding: 0.5rem 0rem 0.5rem 1rem;
  transition: background-color 0.2s ease-in, padding-left 0.2s;
}

.profile-dropdown-list-item a {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-size: 0.9rem;
  font-weight: 500;
  color: white;
}

.profile-dropdown-list-item a i {
  font-size: 1.1rem;
  width: 2.3rem;
  height: 2.3rem;
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  border: 0.1px solid #ffffff35;
  line-height: 2.3rem;
  text-align: center;
  margin-right: 1rem;
  border-radius: 50%;
  transition: margin-right 0.3s;
}

a:hover{
 color: #03A9F4;
}

.profile-dropdown-list-item:hover {
  padding-left: 1.9rem;
  background-color: black;
}

/* ------------------------- */
/* POPUP */
/* ------------------------- */

article .btn-abrir-popup {
  position: relative;
  margin: 0 15px;
  text-decoration: none;
  color: rgb(0, 0, 0);
  background: none;
  border: none;
  letter-spacing: 2px;
  font-weight: 600;
  list-style: none;
}


.overlay {
   background: rgba(0,0,0,.3);
   position: fixed;
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
   align-items: center;
   justify-content: center;
   display: flex;
   visibility: hidden;
}

.overlay.active {
   visibility: visible;
  background: #000006b7;
}

.popup {
   background: #F8F8F8;
   box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
  
   border-radius: 3px;
   padding: 20px;
   text-align: center;
   width: 900px;
  height: 500px;
   transition: .3s ease all;
   transform: scale(0.7);
   opacity: 0;
}

.popup .btn-cerrar-popup {
   font-size: 16px;
   line-height: 16px;
   display: block;
   text-align: right;
   transition: .3s ease all;
   color: #BBBBBB;
}

.popup .btn-cerrar-popup:hover {
   color: #000;
}

.popup h3 {
   font-size: 36px;
   font-weight: 600;
   margin-bottom: 10px;
   opacity: 0;
}

.popup h4 {
   font-size: 26px;
   font-weight: 300;
   margin-bottom: 40px;
   opacity: 0;
}

.popup form .contenedor-inputs {
   opacity: 0;
}

.popup form .contenedor-inputs input {
   width: 99%;
    height: 35px;    
    margin-top: 20px;
    padding: 10px;
    background: transparent;
    font-size: 16px;
    outline: none;
    border-left: 2px solid #000000;
    background-color: #f9fcff16;
    border-bottom: 0.1px solid #00000015 ;
    border-right: none;
    border-top: none;
    color: #000000;
}

.popup form .contenedor-inputs textarea{
    width: 99%;
    height: 90px;    
    margin-top: 20px;
    padding: 10px;
    background: transparent;
    font-size: 16px;
    outline: none;
    border-left: 2px solid #000000;
    background-color: #f9fcff16;
    border-bottom: 0.1px solid #00000015 ;
    border-right: none;
    border-top: none;
    color: #000000;
}

.popup form .btn-submit {
   padding: 0 50px;
   height: 40px;
   line-height: 40px;
  margin: 20px 20px 20px 20px;
   border: none;
   color: #fff;
   background: #5E7DE3;
   border-radius: 3px;
   font-size: 16px;
   cursor: pointer;
   transition: .3s ease all;
}

.popup form .btn-submit:hover {
   background: rgba(94,125,227, .9);
}

/* ------------------------- */
/* ANIMACIONES */
/* ------------------------- */
.popup.active {	transform: scale(1); opacity: 1; }
.popup.active h3 { animation: entradaTitulo .8s ease .5s forwards; }
.popup.active h4 { animation: entradaSubtitulo .8s ease .5s forwards; }
.popup.active .contenedor-inputs { animation: entradaInputs 1s linear 1s forwards; }

@keyframes entradaTitulo {
   from {
      opacity: 0;
      transform: translateY(-25px);
   }

   to {
      transform: translateY(0);
      opacity: 1;
   }
}

@keyframes entradaSubtitulo {
   from {
      opacity: 0;
      transform: translateY(25px);
   }

   to {
      transform: translateY(0);
      opacity: 1;
   }
}

@keyframes entradaInputs {
   from { opacity: 0; }
   to { opacity: 1; }
}
/* Fin Opciones desplegables del perfil */

/*==== Fin Header - Menu ====*/

/*==== Inicio Container habitaciones ====*/

.container{
  width: 90%;
  margin: 0 auto;
}
.container .headeing{
  font-size: 3.2rem;
  color: #00031d;
  margin-bottom: 2rem;
  text-align: center;
  padding: 4rem;
}
.container .menu-container{
  display:grid;
  grid-template-columns: repeat(auto-fit,minmax(30%, 1fr));
  gap: 1rem;
  margin-bottom: 3rem;
}
.container .menu-container .menu{
  text-align: center;
  padding: 0.5rem;
  background: #fff;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.859);
  cursor: pointer;
  outline: 0.1rem solid #4d9efa;
  outline-offset: -0.7rem;
}
.container .menu-container .menu:hover{
  outline-offset: 0;
  outline: 0.1rem solid #000;
}

.container .menu-container .menu img{
  height: 15rem;
   width: 15rem;
   padding: 15px;
}
.container .menu-container .menu img:hover{
  transform: scale(.9);
}

.container .menu-container .menu h3,
.container .menu-container .menu .price{
  font-size: 1.5rem;
  color:#1b1b1b;
}

.container .menu-container .menu h3:hover{
  color:#0088ff;
}
.menu-preview{
  position: fixed;
  top:0; left: 0;
  min-height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.72);
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 100;
}
.menu-preview .preview{
  display: none;
  padding: 0.5rem; 
  text-align: center;
  position: relative;
  height: 80%;
  width: 80%;
  background: #fff;
  z-index: 100;
}
.menu-preview .preview img{
  height: 50%;
  width: 70%;
}
.menu-preview .preview.active{
  display: inline-block;
}
.menu-preview .preview h3{
  font-size: 2rem;
  color: #333333e4;
  padding: 0.2rem;
}
.menu-preview .preview .price{
  font-size: 2rem;
  color: #ffffff;
  position: relative;
  bottom: 150px;
}
.menu-preview .preview .stars{
  color: gold;
  font-size: 1.2rem;
  padding: 0.1rem;
}
.menu-preview .preview .stars li{  
  margin: 0 1rem; 
} 
.menu-preview .preview p{
  font-size: 1.4rem;
  color: #333;
  padding: 0.1rem;
}
.menu-preview .preview a{
  display: inline-block;
  width: 10rem; height: 2.6rem;
  background: rgb(255, 255, 255);
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.353);
  color: black;
  padding: 10px;
  text-decoration: none;
}
.menu-preview .preview a:hover{
  background: none;
  color: #0088ff;
}
.menu-preview .preview .login-btn{
  position: relative;
  width: 8rem; 
  height: 2.5rem;
  background: rgb(255, 255, 255);
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.353);
  color: black;
  text-decoration: none;
  bottom: 60px;
  right: 150px;
}
.menu-preview .preview .fa-xmark{
  position: absolute;
  top: 0.1rem;
  right: 0.1rem;
  font-size: 1.5rem;
  color: #000000;
  cursor: pointer;
}
.menu-preview .preview .fa-xmark:hover{
  transform: rotate(180deg);
  scale: 0.7;
  transition: .7s;
}


.container-Pop {
  display: flex;
  padding: 22px 0;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  justify-content: space-between;
}

.container-Pop .hamburger-btn {
  display: none;
  color: #fff;
  cursor: pointer;
  font-size: 1.5rem;
}

.navbar .logo {
  gap: 10px;
  display: flex;
  align-items: center;
  text-decoration: none;
}

.navbar .logo img {
  width: 40px;
  border-radius: 50%;
}

.navbar .logo h2 {
  color: #fff;
  font-weight: 600;
  font-size: 1.7rem;
}



.container-Pop .close-btn {
  position: absolute;
  right: 20px;
  top: 20px;
  display: none;
  color: #000;
  cursor: pointer;
}



.navbar .login-btn {
  border: none;
  outline: none;
  background: #fff;
  color: #275360;
  font-size: 1rem;
  font-weight: 600;
  padding: 10px 18px;
  border-radius: 3px;
  cursor: pointer;
  transition: 0.15s ease;
}

.navbar .login-btn:hover {
  background: #ddd;
}

.form-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 10;
  width: 100%;
  opacity: 0;
  pointer-events: none;
  max-width: 720px;
  background: #fff;
  border: 2px solid #fff;
  transform: translate(-50%, -70%);
}

.show-popup .form-popup {
  opacity: 1;
  pointer-events: auto;
  transform: translate(-50%, -50%);
  transition: transform 1.9s ease, opacity 0.1s;
}

.form-popup .close-btn {
  position: absolute;
  top: 12px;
  right: 12px;
  color: #878484;
  cursor: pointer;
}

.blur-bg-overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  height: 100%;
  width: 100%;
  opacity: 0;
  pointer-events: none;
  background: #000000d9;
  backdrop-filter: blur(3px);
  transition: .2s ease;
}

.show-popup .blur-bg-overlay {
  opacity: 1;
  pointer-events: auto;
}

.form-popup .form-box {
  display: flex;
}

.form-box .form-details {
  width: 100%;
  color: #fff;
  max-width: 330px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login .form-details {
  padding: 0 40px;
  background: url("../img/habitacion_1.avif");
  background-position: center;
  background-size: cover;
}

.signup .form-details {
  padding: 0 20px;
  background: url("images/signup-img.jpg");
  background-position: center;
  background-size: cover;
}

.form-box .form-content {
  width: 100%;
  padding: 35px;
}

.form-box h2 {
  text-align: center;
  margin-bottom: 29px;
}

form .input-field {
  position: relative;
  height: 40px;
  width: 100%;
  margin-top: 20px;
}

.input-field input {
  height: 100%;
  width: 100%;
  background: none;
  outline: none;
  font-size: 0.95rem;
  padding: 0 15px;
  border: 1px solid #717171;
  border-radius: 3px;
}

.input-field input:focus {
  border: 1px solid #8ab7f5;
}

.input-field label {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  color: #4a4646;
  pointer-events: none;
  transition: .5s ease;
}

.input-field input:is(:focus, :valid) {
  padding: 16px 15px 0;
}

.input-field input:is(:focus, :valid)~label {
  transform: translateY(-120%);
  color: #8ab7f5;
  font-size: 0.75rem;
}

.form-box a {
  color: #8ab7f5;
  text-decoration: none;
}

.form-box a:hover {
  text-decoration: underline;
}

.input-field select{
  position: absolute;
  transform: translate(-50%,-50%);
  top: 50%;
  left: 50%;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance:none;
  appearance: none;
  width: 100%;
  padding: 10px 20px;
  letter-spacing: 0.5px;
  cursor: pointer;
  background-color: transparent;
  color: #000000;
  border: 1px solid #777777;
  border-radius: 1px;
  outline: none;
}
.input-field select::-ms-expand{
  display: none;
}
.input-field select:hover{
  border: 1px solid #8ab7f5;
}
select option{
  background-color: #000000;
  color: #F8F8F8;
  padding: 5px;
  position: relative;
  border-radius: 20px;
}
.selected{
  display: none;
}

form button {
  width: 100%;
  color: #fff;
  border: none;
  outline: none;
  padding: 14px 0;
  font-size: 1rem;
  font-weight: 500;
  border-radius: 3px;
  cursor: pointer;
  margin: 25px 0;
  background: #5E7DE3;
  transition: 0.2s ease;
}

form button:hover {
  background: #5175ea;
}

.form-content .bottom-link {
  text-align: center;
}


/*====Footer==*/

footer {
  position: fixed;
  bottom: 0;
}

@media (max-height:800px) {
  footer {
      position: static;
  }
  header {
      padding-top: 40px;
  }
}

.footer-distributed {
  background-color: #2d2a30;
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: bold 16px sans-serif;
  padding: 50px 50px 60px 50px;
  margin-top: 80px;
}

.footer-distributed .footer-left, .footer-distributed .footer-center, .footer-distributed .footer-right {
  display: inline-block;
  vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left {
  width: 30%;
}

.footer-distributed h3 {
  color: #ffffff;
  font-size: 40px;
  margin: 0;
}


.footer-distributed h3 span {
  color: #e0ac1c;
}

/* Footer links */

.footer-distributed .footer-links {
  color: #ffffff;
  margin: 20px 0 12px;
}

.footer-distributed .footer-links a {
  display: inline-block;
  line-height: 1.8;
  text-decoration: none;
  color: inherit;
}

.footer-distributed .footer-company-name {
  color: #8f9296;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center {
  width: 35%;
}

.footer-distributed .footer-center i {
  background-color: #33383b;
  color: #ffffff;
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
  z-index: 0;
}

.footer-distributed .footer-center i.fa-envelope {
  font-size: 17px;
  line-height: 38px;
}

.footer-distributed .footer-center p {
  display: inline-block;
  color: #ffffff;
  vertical-align: middle;
  margin: 0;
}

.footer-distributed .footer-center p span {
  display: block;
  font-weight: normal;
  font-size: 14px;
  line-height: 2;
}

.footer-distributed .footer-center p a {
  color: #e0ac1c;
  text-decoration: none;
  ;
}

/* Footer Right */

.footer-distributed .footer-right {
  width: 30%;
}

.footer-distributed .footer-company-about {
  line-height: 20px;
  color: #92999f;
  font-size: 13px;
  font-weight: normal;
  margin: 0;
}

.footer-distributed .footer-company-about span {
  display: block;
  color: #ffffff;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
}

.footer-distributed .footer-icons {
  margin-top: 25px;
}

.footer-icons  a{
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  border-radius: 50%;
  font-size: 20px;
  color: #ffffff;
  border: 1px solid #FFF;
  text-align: center;
  line-height: 35px;
  margin-right: 3px;
  margin-bottom: 5px;
  list-style: none;
}

.icon-facebook:hover{ background-color: #2B4073; }
.icon-twitter:hover{ background-color: #67CDEE; }
.icon-youtube:hover{ background-color: #e71710; }
.icon-instagram:hover{ background: linear-gradient(rgb(87, 8, 129), rgb(255, 123, 0)); }

.footer-distributed .footer-icons a:hover {
  transform: scale(1.2);
  transition: all .3s ease-in-out;
}

.footer-links a:hover {
  color: #3F71EA;
}

@media (max-width: 880px) {
  .footer-distributed .footer-left, .footer-distributed .footer-center, .footer-distributed .footer-right {
      display: block;
      width: 100%;
      margin-bottom: 40px;
      text-align: center;
  }
  .footer-distributed .footer-center i {
      margin-left: 0;
  }
} 

@media screen and (max-width:900px){
  header{
      background-position: center;
  }

  .contenedor-sobre-nosotros{
      flex-direction: column;
      justify-content: center;
      align-items: center;
  }

  .sobre-nosotros .contenido-textos{
      width: 90%;
  }

  .imagen-about-us{
      width: 90%;
  }

}

/*==== Fin Footer ==*/

/*==== Inicio Responsive ==*/
@media screen and (max-width: 720px){

  .menu nav{
      position: fixed;
      top: 0;
      right: -250px;
      background: rgb(255, 255, 255);
      width: 250px;
      height: 100vh;
      padding: 40px;
      z-index: 1;
      transition: all 300ms;
  }

  .menu ul{
      flex-direction: column;
      margin-top: 40px;
  }

  .menu ul li{
      margin-top: 30px;
      margin-left: 160px;
  }

  .menu ul li a{
      color: rgb(0, 0, 0);
  }

  .profile-dropdown{
    padding: 10px;
    bottom: 200px;
    right: 140px;
  }
  .menu nav img{
      display: block;
      width: 60px;
  }

  #back_menu{
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100vh;
      background: rgba(0, 0, 0, 0.392);
      display: none;
  }

  .menu #btn_menu{
      display: flex;
      align-items: center;
      justify-content: center;
      width: 50px;
      height: 50px;
      background: rgba(0, 0, 0, 0.21);
      font-size: 24px;
      border-radius: 50px;
      cursor: pointer;
      transition: all 300ms;
  }

  .menu #btn_menu:hover{
     background: rgba(0, 153, 255, 0.183);
  }

  .popup {
    position: sticky;
    width: 50%;
    right: 290px;
  }
}

@media screen and (max-width:500px){
  nav{
      text-align: center;
      padding: 30px 0 0 0;
  }

  nav > a{
      margin-right: 5px;
  }

  .textos-header h1{
      font-size: 35px;
  }

  .textos-header h2{
      font-size: 20px;
      
  }

.popup {
    position: relative;
    z-index: 100;
    width: 50%;
    left: 5%;
  }
}
/* Fin Menu responsive */

/* Pagina responsive */

@media (max-width:768px){
  .container .menu-container .menu{
     width: 100%;
     height: 100%;
  }
  .container .menu-container .menu img{
    height: 8rem;
     width: 8rem;
     
  }
}
@media (max-width:450px){
  .container .menu-container .menu{
    width: 100%;
    height: 100%;
 }
 .container .menu-container .menu img{
   height: 6rem;
    width: 6rem;
 }
 .container .menu-container .menu h3,
.container .menu-container .menu .price{
  font-size: 0.9rem;
  color:#1b1b1b;
}
}
/* Fin Pagina responsive */

/*==== Fin Responsive ==*