body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    text-align: center;
    padding: 50px;
}

h1 {
    color: #333;
}

p {
    color: #555;
}s

a {
    color: #007bff;
    text-decoration: none;  
}